body,html{
    position: relative;
    width:100%;
    height: 100%;
    padding:0px;
    margin: 0px;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}
.title_bg{
    margin-top: 20px;
}
.zong{
    width:400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}
.layui-form{
    padding: 10px;
}
.layui-form-item{
    position: relative;
}
.layui-form-item i{
    position:absolute;
    top: 10px;
}
.layui-input{
    padding-left: 15px;
}
.layui-form-item a{
    position:absolute;
    right: 0px;
}
.zhuce{
    display:none;
}
.loginreg{
    text-align: center;
    margin-top: 20px;
}